/*main*/
main {
    width: 80%;
    margin: auto;
}

h2{
    text-transform: uppercase;
    margin: 30px 0px;
    padding: 10px 0;
    font-size: 1.6em;
    font-weight: 600;
}


/*contenido*/

.contenido{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 0px;
}


/*formulario de contacto*/

.formulario-hijo-contenido div{
    margin-bottom: 7px;
}

.input-100 , form textarea{
    padding: 15px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    background: #c2d5ecbd;
    border: none;
}

.formulario-hijo-contenido button{
    margin-top: 7px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    font-weight: 300;
    text-align: right;
}

.formulario-hijo-contenido button:hover{
    background-color:skyblue;
    font-weight: bold;
}

.boton-enviar{
    padding: 20px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #ef0000f7;
    background: none;
    color: black;
    font-weight: 500;
    font-size: 1.3em;
    cursor: pointer;
    transition: background 1s, color 1s;
}
.boton-enviar:hover{
    background:#ef0000f7;
    color: white;
}


/*datos de la empresa*/

.datos-hijo-contenido ul li{
    list-style: none;
}

.datos-hijo-contenido a{
    text-decoration: none;
    color:skyblue;
    font-size: 2.2em;
    margin: 20px 30px 0px 0px;
}

.datos-hijo-contenido a:hover{
   color:black;
}

.datos-hijo-contenido ul li{
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 1.2em;
}

.telefonos{
    text-align: left;
    font-style: oblique;
}


/*ubicacion*/
.ubicacion{
    margin-top: 10px;
    text-align: center;
}

/*mapa de google*/
main figure iframe{
    padding: 5px 0px;
    border-radius: 20px;
    opacity: 0.3;
}

main figure iframe:hover{
    opacity: 1;
    -webkit-box-shadow: 0px 66px 100px -20px rgba(0,0,0,0.56);
-moz-box-shadow: 0px 66px 100px -20px rgba(0,0,0,0.56);
box-shadow: 0px 66px 100px -20px rgba(0,0,0,0.56);
}
